body {
    margin: 0;
    font-family: -apple-system, "Gill Sans", sans-serif, 'Ubuntu', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: linear-gradient(#2A00B7, #42006C);
}

code {
    font-family: "Source Code Pro", "Menlo", Monaco, Consolas, monospace;
}